 .u-section-1 {
  min-height: 883px;
}

.u-section-1 .u-image-1 {
  height: 637px;
  object-position: 50% 19.23%;
  background-position: 50% 19.23%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: -425px calc(((100% - 1140px) / 2) + 733px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -5px;
  margin-bottom: 20px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 996px;
  margin: 75px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 380px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

@media (max-width: 1399px) {
   .u-section-1 {
    min-height: 851px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 997px;
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 797px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -429px;
    margin-right: calc(((100% - 940px) / 2) + 533px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 23px;
    margin-bottom: 4px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 883px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 347px;
  }

  .u-section-1 .u-image-2 {
    height: 162px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 347px;
  }

  .u-section-1 .u-image-3 {
    height: 172px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 347px;
  }

  .u-section-1 .u-image-4 {
    height: 172px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 774px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 313px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 55px;
    margin-bottom: 20px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 659px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-1 .u-image-2 {
    height: 124px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 19px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 271px;
  }

  .u-section-1 .u-image-3 {
    height: 129px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 14px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 271px;
  }

  .u-section-1 .u-image-4 {
    height: 129px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 14px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 537px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 133px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 190px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 520px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-1 .u-image-2 {
    height: 279px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 380px;
  }

  .u-section-1 .u-image-3 {
    height: 279px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 18px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-1 .u-image-4 {
    height: 279px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1284px;
  }

  .u-section-1 .u-text-1 {
    width: 346px;
    margin-top: -406px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 120px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 320px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-1 .u-image-2 {
    height: 188px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 285px;
  }

  .u-section-1 .u-image-3 {
    height: 189px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 285px;
  }

  .u-section-1 .u-image-4 {
    height: 189px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 397px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-layout-wrap-2 {
  width: 1000px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 380px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 380px;
}

.u-section-2 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 380px;
}

.u-section-2 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-2 .u-image-3 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-image-3 {
    width: 309px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -13px;
    margin-bottom: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 880px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-2 .u-image-1 {
    height: 172px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 334px;
  }

  .u-section-2 .u-image-2 {
    height: 172px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 334px;
  }

  .u-section-2 .u-image-3 {
    height: 172px;
    width: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 23px;
    margin-bottom: 23px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 660px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-2 .u-image-1 {
    height: 129px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 271px;
  }

  .u-section-2 .u-image-2 {
    height: 129px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 9px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 271px;
  }

  .u-section-2 .u-image-3 {
    height: 129px;
    width: 196px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 520px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-2 .u-image-1 {
    height: 279px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 380px;
  }

  .u-section-2 .u-image-2 {
    height: 279px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-2 .u-image-3 {
    height: 279px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 320px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-2 .u-image-1 {
    height: 189px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 285px;
  }

  .u-section-2 .u-image-2 {
    height: 188px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 285px;
  }

  .u-section-2 .u-image-3 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 397px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-layout-wrap-2 {
  width: 1000px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 380px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 380px;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-3 .u-image-2 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 380px;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-3 .u-image-3 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -13px;
    margin-bottom: 10px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 880px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-3 .u-image-1 {
    height: 172px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 334px;
  }

  .u-section-3 .u-image-2 {
    height: 172px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 334px;
  }

  .u-section-3 .u-image-3 {
    height: 172px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 660px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-3 .u-image-1 {
    height: 129px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 271px;
  }

  .u-section-3 .u-image-2 {
    height: 129px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 9px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 271px;
  }

  .u-section-3 .u-image-3 {
    height: 129px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 520px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-3 .u-image-1 {
    height: 279px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 380px;
  }

  .u-section-3 .u-image-2 {
    height: 279px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 381px;
  }

  .u-section-3 .u-image-3 {
    height: 279px;
    margin-top: 1px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 320px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-3 .u-image-1 {
    height: 189px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 285px;
  }

  .u-section-3 .u-image-2 {
    height: 189px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 285px;
  }

  .u-section-3 .u-image-3 {
    height: 188px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 397px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-layout-wrap-2 {
  width: 1000px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 380px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-4 .u-image-1 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 380px;
}

.u-section-4 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-4 .u-image-2 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 380px;
}

.u-section-4 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-4 .u-image-3 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -13px;
    margin-bottom: 10px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 880px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-4 .u-image-1 {
    height: 172px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 334px;
  }

  .u-section-4 .u-image-2 {
    height: 172px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 334px;
  }

  .u-section-4 .u-image-3 {
    height: 172px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 660px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-4 .u-image-1 {
    height: 129px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 271px;
  }

  .u-section-4 .u-image-2 {
    height: 129px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 9px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 271px;
  }

  .u-section-4 .u-image-3 {
    height: 129px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 520px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-4 .u-image-1 {
    height: 279px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 380px;
  }

  .u-section-4 .u-image-2 {
    height: 279px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-4 .u-image-3 {
    height: 279px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 320px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-4 .u-image-1 {
    height: 188px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 285px;
  }

  .u-section-4 .u-image-2 {
    height: 188px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 285px;
  }

  .u-section-4 .u-image-3 {
    height: 189px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 397px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-layout-wrap-2 {
  width: 1000px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 380px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-5 .u-image-1 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 380px;
}

.u-section-5 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-5 .u-image-2 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 380px;
}

.u-section-5 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-5 .u-image-3 {
  height: 196px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -13px;
    margin-bottom: 20px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 880px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-5 .u-image-1 {
    height: 172px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 334px;
  }

  .u-section-5 .u-image-2 {
    height: 172px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 334px;
  }

  .u-section-5 .u-image-3 {
    height: 172px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 20px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 660px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-5 .u-image-1 {
    height: 129px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 271px;
  }

  .u-section-5 .u-image-2 {
    height: 129px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 9px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 271px;
  }

  .u-section-5 .u-image-3 {
    height: 129px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 520px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-5 .u-image-1 {
    height: 279px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 380px;
  }

  .u-section-5 .u-image-2 {
    height: 279px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-5 .u-image-3 {
    height: 279px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 320px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-5 .u-image-1 {
    height: 188px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 285px;
  }

  .u-section-5 .u-image-2 {
    height: 188px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 285px;
  }

  .u-section-5 .u-image-3 {
    height: 188px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }
}